<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page web</title>
    <link rel="stylesheet" href="style.css"></link>
</head>
<body>
    <h1> Programme TV</h1>
    
    <%- include("navbar") -%>
    

    <% resultat.forEach(resultat => { %> <!-- Pour chaque élément dans le tableau utilisateur.nom -->
        <h3> <%= resultat.nom %>  <%= resultat.type_programme %>  <%= resultat.Date_diffusion %></h3> <!-- signifie un des noms récupérés dans le tableau -->
      <% }) %>
    
      <%- include('footer') %>
</body>
</html>